/*
  Kashev Dalmia
  kashev.dalmia@gmail.com

  'Persona Prototyping : Designing for Designers'
  or
  'Fake Apps for Fake People'

  A Project for ARTD 313 @ UIUC, Sp 2014
  proj2b - dalmia3

  main.scss
*/

/*
 * IMPORTS
 */
/* BOURBON NEAT SASS LIBRARY */
$gutter : 0;
$column : 2;
@import "bourbon/bourbon";
@import "neat/neat";

/* RESET */
@import "reset.css";

/* FRIES */
@import "fries.holo-dark.min.css";

/*
 * MIXINS
 */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

/* 
 * SoCo CSS 
 */

/* COLOR PALETTE */
$background-color : #FFF;
$text-color       : #111;

/* ALASKA PALETTE */
$alaska-1 : #4F769E;
$alaska-2 : #35372F;
$alaska-3 : #F9F9F9;
$alaska-4 : #67956E;

/* BELLO PALETTE */
$bello-1 : #DCBF74;
$bello-2 : #457878;
$bello-3 : #060606;
$bello-4 : #ACCCC3;


/*
 * NEAT GRID CSS
 */
// default grid is 12
.grid {
  @include outer-container;
  .full          { @include span-columns(12); }
  .three-fourths { @include span-columns(9);  }
  .half          { @include span-columns(6);  }
  .third         { @include span-columns(4);  }
  .two-thirds    { @include span-columns(8);  }
  .fourth        { @include span-columns(3);  }
}

/*
 * TAG STYLING
 */

html {
  font-size: 62.5%;
}

img {
  max-width  : 100%;
  max-height : 100%;
}

h1 {
  font-weight: 100;
  letter-spacing : 0.1rem;
  font-size: 3.0rem;
  text-align: center;
  line-height: 3.1rem;
}

h3 {
  font-weight: 800;
  font-size: 2.0rem;
  margin: 1.0rem 0;
}

h4 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0.7rem 0;
}

p {
  font-size: 1.6rem;
  font-weight: 100;
  text-align: justify;
}

strong {
  font-weight: bold;
}


/*
 * Utility Classes
 */

.center {
  display      : block;
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
}

.under {
  z-index: -1;
}

.circle {
  @include border-radius(50%);
}

.twenty-container {
  width: 30%;
  padding: 1%;
}

.spacing {
  padding: 1.0rem;
  margin: 1.0rem;
}

.margining {
  margin: 3%;
}

/*
 * Page Specific CSS
 */
.homepage-button {
  font-size: 2em;
}
.list-title {
  text-align: left;
  margin: 3%;
  font-size: 2.0rem;
  border-bottom : solid 1px $text-color;
}
.settings-item {
  .half {
    vertical-align: middle;
    height: 48px;
    top:50%;
  }
  .settings-item-title {
    font-size: 1.7rem;
    padding: 12px 0;
  }

  .input-checkbox-wrapper {
    height: 48px;
    padding: 16px 0;
  }
}

/*
 * One-Off Classes
 */

.content {
  background-color : $background-color;
  color            : $text-color;
}

.camera-view {
  width: 100%;
  height: 100%;
  position: fixed;

  .shutter {
    font-size: 2em;
    opacity: 0.8;
    top: 80%;
    position: relative;
  }
}

.picture-view {
  max-width : 80%;
  width     : 80%;
  max-height: 50%;
}

.palette-view {
  width: 100%;
  height: 50%;
  bottom: 0;
  position: fixed;
  .grid {
    height: 100%;
  }
}

.color {
  height: 100%;
}

.post-picture-accept {
  position: fixed;
  bottom : 5%;
  width: 100%;
}

/*
 * TYPEFACE PREVIEWER CSS
 */
$pickerfontsize : 1.4rem;
#preview-text {
  visibility: hidden; // to start

  // centered
  margin-right : 1%;
  margin-left  : 1%;

  position : absolute;
  top: 1%;
  max-height: 90%;
  text-align: left;
}
#picker-box {
  visibility: hidden; // to start
  font-size: 1.6rem;
  // centered
  margin-right : 5%;
  margin-left  : 5%;

  position: absolute;
  bottom : 20%;
  width: 90%;
}
#size-picker {
  width: 100%;
}
#size-indicator {
  font-weight: bold;
  font-size: $pickerfontsize;
}
#font-picker {
  margin: 10px 0;
  border: 0;
  font-size: $pickerfontsize;
  width: 95%;
  border: 1px solid black;
  height: $pickerfontsize * 2;
  left: 0;
}
#weight-picker {
  margin: 10px 0;
  border: 0;
  font-size: $pickerfontsize;
  width: 95%;
  border: 1px solid black;
  height: $pickerfontsize * 2;
  right: 0;
}

/*
 * CSS For viewing a single palette
 */
.single-palette {
  display      : block;
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;

  position: relative;

  width: 80%;
  height: 40%;
  
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }

  .nav {
    height : 100%;
    width  : 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 100%;
    font-size: 2.0rem;
    z-index: 1;
    display: table;
    overflow: hidden;
  }

  .pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    margin-right: auto;
    margin-left: auto;
    display: block;
    img {
      width: 100%;
    }
  }
  .pal {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 80%;
    height: 40%;
    .grid {
      height: 100%;
    }
  }
}

/*
 * ONE OFF COLOR CLASSES
 */

.alaska-1 {
  background-color : $alaska-1;
}
.alaska-2 {
  background-color : $alaska-2;
}
.alaska-3 {
  background-color : $alaska-3;
}
.alaska-4 {
  background-color : $alaska-4;
}

.bello-1 {
  background-color : $bello-1;
}
.bello-2 {
  background-color : $bello-2;
}
.bello-3 {
  background-color : $bello-3;
}
.bello-4 {
  background-color : $bello-4;
}

/*
 * Icon CSS For User Account Page
 */

.soco-icon-box {
  border-radius: 50%;
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  font: 0/0 a;

  .soco-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    height: 90%;
  }
}

.soco-icon-box:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.push-right {
  padding-left: 20%;
}

/* ICON COLORS */
$facebook-color   : #3B5998;
$googleplus-color : #D14836;
$pinterest-color  : #CB2027;
$dribbble-color   : #EA4C89;

#facebook-icon   { background-color : $facebook-color; }
#googleplus-icon { background-color : $googleplus-color; }
#pinterest-icon  { background-color : $pinterest-color; }
#dribbble-icon   { background-color : $dribbble-color; }
